{% block footer %}
                </article>
                <footer>
                    This is some footer text.
                </footer>
            </main>
        </body>
    </html>
{% endblock %}